/*i dont want to explain what we did but i will write this hear to prove I can comment and I'll comment out a few things ;)*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:black;
    background-color: rgb(244, 244, 106);
}
li {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}

a {color: darkgrey;
text-decoration: none;}
A:hover {
    text-decoration: underline;
    /* font-weight: bold;
    font-size: 18px; */
}
a:visited {
    color: blue;
}
.resumeListHeading {
    font-weight: bold;
    font-style: normal;
}
.bold {font-weight: bold;}
.justify {text-align: justify;}
body {
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.common {
    /* background-color: #cccccc; */
    position: absolute;
}
.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    background-color: lightgray;
    border-bottom: solid 1px #555555;
}
.leftmenu {
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 39px;
    z-index: 1;
    padding-top: 40px;
    border-right: solid 1px #555555;
}
.mainbody {
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
    padding-right: 5px;
}
.rightmenu {
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
    border-left: solid 1px #555555;
    padding-left: 5px;

}
.footer {
    bottom: 0px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 8px;
    text-align: center;
    position: fixed;
    background-color: lightgray

}
.subheader {
    float: right;
    padding-right: 10px;
}
.leftfloat {
    float: left;
}